<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'index' %}">Padho_Likho</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse py-10" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item mt-11">
          <a class="nav-link text-light" href="{% url 'about' %}">About Us</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'html' %}">Html</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'css' %}">Css</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'js' %}">Js</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'bootstrap' %}">Bootstrap</span></a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'feedback_form' %}">Feedback_Form</span></a>
        </li>
        
      </ul>
    </div>
  </nav>